{
  "plugins": [
    "external-helpers"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": ["last 2 versions", "> 5%", "ie >= 11", "Safari 7"],
          "node": "6.12"
        }
      }
    ]
  ]
}