language: node_js

node_js:
  - "8"
  - "10"

cache:
  yarn: true
  directories:
    - node_modules

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - /^v[0-9].*$/

script:
  - npm run test
  - npm run lint
